.name {
    -webkit-text-stroke: 1px rgb(236, 219, 164);
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 0px 0px 50px 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 
        0 0 5px rgb(223, 157, 109,1),
		0 0 10px rgba(223, 157, 109,1),
		0 0 20px rgb(223, 157, 109,1),
		0 0 40px rgba(246, 144, 72,1),
		0 0 80px rgba(246, 144, 72,1),
		0 0 90px rgb(250, 101, 1, 1),
		0 0 100px rgba(250, 101, 1,1),
		0 0 140px rgb(255, 255, 255),
		0 0 180px rgb(248, 222, 204);
}